@import "tailwindcss";

@theme {
  --color-background: #f6f7f8;
  --color-background-secondary: #ecf9f1;
  --color-secondary-text: #4f4f4f;
  --color-primary: #1c9647;
  --color-avatar: #6a58cf;
  --color-text-primary: #141414;
  --color-pending-background-badge: #fef8f1;
  --color-pending-badge: #ed9d2c;
  --color-text-secondary: #818181;
  --color-border: #d9d9d9;
  --color-placeholder: #9e9e9e;
}

body {
  font-family: Geist, Inter;
  background-color: #f6f7f8;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 16px;
}
